[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "3.2.7"

[packages]
molecule = {extras = ["lint", "test"], version = "==24.7.0"}
molecule-plugins = {extras = ["docker"],version = "==23.5.3"}
ansible-core = "==2.17.3"
