[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "3.3.3"

[packages]
molecule = {extras = ["lint", "test"], version = "==25.1.0"}
molecule-plugins = {extras = ["docker"],version = "==23.6.0"}
ansible-core = "==2.18.2"
