[Unit]
Description=Jenkins
After=network.target

[Service]
User={{ jenkins_process_user }}
Group={{ jenkins_process_group }}
ExecStart=/usr/bin/java -jar {{ jenkins_install_dir }}/jenkins.war
Restart=always
Environment="JENKINS_HOME={{ jenkins_install_dir }}/jenkins_home"

[Install]
WantedBy=multi-user.target
